<html>
    <head>

    </head>
    <body>
        <script>
            $(function(){
                $('#camera').change(function(e){
                    $('#pic').attr('src', URL.createObjectURL(e.target.files[0]));
                });
            });
        </script>
        <form action="/" method="post" enctype="multipart/form-data">>
            <input type="file" id="camera" name="camera">
            <input type="submit" value="Submit">
        </form>
        <br/>
        <img id="pic" style="width:100%;"/>
    </body>
</html>